html, body {
    height: 100%;
    margin: 0;
    color: #f0f0f0;;
    background-color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}
h1, h2, h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
h1 {
    text-align: center;
    border-bottom: 2px solid #f0f0f0;;
    margin: 0;
    padding: 0.8em 0.5em 0.5em;
    font-size: 1.8em;
}
h2 {
    padding: 0.5em 0;
    font-size: 1.2em;
    line-height: 1.3em;
    border-bottom: 1px solid #f0f0f0;
}
h3 {
    padding: 0.3em 0;
    font-size: 1em;
    line-height: 1.3em;
}
p,
ul,
button,
label,
input[type=submit] {
    letter-spacing: 0.07em;
    line-height: 1.4em;
}
ul {
    padding-left: 1.5em;
}
a {
    color: skyblue;
    text-decoration: none;
    border-bottom: 1px dashed skyblue;
    padding-bottom: 0.1em;
}
h1 > a {
    border: none;
    color: #f0f0f0;
}
button,
label,
input[type=submit] {
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: baseline;
    font-size: 0.8em;
    hyphens: auto;
}
hr {
    border: none;
    height: 1px;
    background-color: rgb(240, 240, 240);
    margin: 2em 0 0.5em;
}
ol {
    font-size: 1.8em;
}

ol > li > * {
    font-size: 0.6em;
    margin: 0.5em;
}

.link-back:before {
    content: "←";
}

/**
Heydonworks hashchange SPA technique
https://www.smashingmagazine.com/2015/12/reimagining-single-page-applications-progressive-enhancement/
*/
.spa {
    min-height: 60%;
}
.spa > * {
    display: none;
    margin-top: -7em;
    padding-top: 7em;
    height: 100%;
}

.spa > *:last-child {
    display: block;
}

.spa > *:target {
    display: block;
}

.spa > *:target ~ * {
    display: none;
}
/** */
.swatch {
    display: inline-block;
    height: 100px;
    width: 20%;
}
.canvas {
    width: 100%;
}
.input {
    display: inline-block;
    border: 1px solid #f0f0f0;;
    color: #f0f0f0;;
    background-color: #333333;
    padding: 0.5em;
    position: relative;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}
.cta {
    background-color: skyblue;
    color: rgb(34, 34, 34);
}
.input__file {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
}
.input__file--selected:before {
    content: "✓";
    font-size: 0.8em;
    margin-right: 0.5em;
}
.input__file--selected {
    background-color: seagreen;
    color: #f0f0f0;
}
.input__file--selected-error:before {
    content: "✘";
    font-size: 0.8em;
    margin-right: 0.5em;
}
.input__file--selected-error {
    background-color: indianred;
    color: #f0f0f0;
}
.input__submit {
    display: block;
    cursor: pointer;
}
.cta:disabled {
    background-color: indianred;
    cursor: not-allowed;
}
main, footer {
    margin: 0 1em;
}
@media only screen and (max-width: 410px) {
    h1 {
        font-size: 1.4em;
        text-align: left;
        padding-left: 1em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 680px) {
    main, footer {
        margin: 0 8%;
    }
    .results {
        display: flex;
        flex-direction: row-reverse;
    }
    .split-column + .split-column {
        margin-right: 1em;
    }
    .split-column {
        vertical-align: top;
        flex-basis: 50%;
        flex-grow: 1;
    }
}
@media only screen and (min-width: 1100px) {
    main, footer {
        margin: 0 12%;
    }
}

/** Objects */

.spinner {
    text-align: center;
    margin-top: 5%;
}

.spinner__svg {
    width: 12em;
}

.spinner__text {
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-left: 0.5em;
}

.spinner__stroke {
    stroke-dasharray: 5%;
    stroke-width: 2%;
    stroke: #f0f0f0;
    fill: transparent;
}

.spinner__facet1 {
    fill: mediumseagreen;
}

.spinner__facet2 {
    fill: deepskyblue;
}

.spinner__facet3 {
    fill: indianred;
}

.logo {
    width: 2em;
    vertical-align: middle;
}

.logo > * {
    fill-opacity: 0;
    stroke-opacity: 0;
    -webkit-animation: 3s logo linear forwards;
    animation: 3s logo linear forwards;
}

.logo__facet1 {
    fill: mediumseagreen;
    animation-delay: 0.5s;
}

.logo__facet2 {
    fill: deepskyblue;
    animation-delay: 1s;
}

.logo__facet3 {
    fill: indianred;
    animation-delay: 1.5s;
}

.logo__stroke {
    fill: transparent;
    stroke-width: 2%;
    stroke: #f0f0f0;
    animation-delay: 2s;
}

@keyframes logo {
    0% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
    100% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
}

/** Trumps */
.js .nojsonly,
.nojs .jsonly {
    display: none !important;
}

.hidden {
    display: none !important;
}
